{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": ["Chrome > 50", "Firefox > 52"],
      },
      "shippedProposals": true,
    }],
    "@babel/react",
  ],
  "env": {
  "test": {
    "presets": [
      "@babel/env",
      "@babel/react"
    ],
    "sourceMaps": "inline"
  }
},
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "transform-react-remove-prop-types",
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    "@babel/transform-react-constant-elements",
    "transform-react-pure-class-to-function",
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }]
    ]
}